body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    width: 93%;
    gap: 30px;
    margin: 15px auto;
    align-items: center;
   
}

.image{
    width: 25%;
}
.nav{
    width: 50%;
}
.nav ul{
    display: flex;
    gap: 35px;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: rgb(104, 102, 102);
    font-weight: 530;
}
.nav a:hover{
    color: black;
}
.sign{
    display: flex;
    gap: 25px;
    width: 30%;
    align-items: center;
}
.favicons{
    display: flex;
    gap:20px ;
    float: right;
}
#submit{
    padding: 10px;
    border: none;
    background-color: transparent;
    transition: all ease-in-out 0.5s;
}
#submit:hover{
    background-color: rgb(238, 236, 236);
    border-radius: 20px;
}
.fa-solid{
    padding: 5px;
    transition: all ease-in-out 0.5s;
    
}

.fa-solid:hover{
    background-color: rgb(238, 236, 236);
    border-radius: 20px;
}
#register{
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    transition: all ease-in-out 0.5s;
    background-color: rgb(12, 188, 12);
   
}
#register:hover{
    background-color:rgb(5, 105, 5);
    border-radius: 20px;
}
.hero-sec{
    background-image: url('/images/hero-home-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;

}
.woman-bg{
    background-color:rgba(0,0,0,0.3) ;
    backdrop-filter:blur(4px);
    padding: 30px 20px 50px 18px;
    border-top-right-radius:30px ;
    border-top-left-radius:30px ;


}
.hero-sec h1{
    font-size: 36px;
}
.hero-sec form{
    background-color: white;
    padding: 15px;
    border-radius: 34px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 20px;

    
}

.hero-sec  .fa-solid{
     color: rgb(62, 62, 62);
    
}
.woman-bg input{
    width: 100%;
    border: none;

}
.woman-bg input:focus{
    outline: none;
}
.woman-bg nav{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 15px auto;
    align-items: center;
    gap:40px ;
}
.woman-bg a {
    color: white;
    text-decoration: none;
    width: 20%;
    align-items: center;
    padding-top: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
}
.woman-bg a img{
    width: 40%;
    display: block;
    margin: 0 auto;
}
.shout-out{
    color: white;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px

}
.kenya{
    background-image: url('/images/banner-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
   
   
}
.kenya h2{
    width: 90%;
    margin:30px auto ;
    font-size: 28px;
    font-weight: 900;
}
.get-started{
    background-color:rgba(0,0,0,0.5) ;
    display: flex;
    padding: 8px 20px;
    gap:55px;
}
.get-started p{
    font-weight: 900;
    font-size: 20px;
    width: 100%;
}
#get-sign #submit{
    background-color: white;
    border-radius: 20px;
}
  #get-sign #submit:hover{
    background-color: rgb(188, 184, 184);
    border-radius: 20px;
}
.agencies{
    background-color: aqua;
    width: 100%;
}
.view{
    display: flex;
    justify-content: space-between;
}
.first-container{
    display: flex;
    flex-direction: column;
    gap: 20px 30px ;
}
.child{
    display: flex;
   
    gap: 40px;
}
.icon-anchor{
    width: 100%;
}
.icon-anchor img{
    width: 30%;
}

